SOURCE_MODE=sirius
EVENTS_URL=https://siriusfotboll.ebiljett.nu/List/Events
SIRIUS_SITE_URL=https://www.siriusfotboll.se
SEARCH_TERMS=biljettsläpp,biljetter,biljett
STATE_FILE=./data/seen-events.json
NTFY_TOPIC=your-unique-topic
NOTIFY_ON_FIRST_RUN=false
# SLACK_WEBHOOK_URL=https://hooks.slack.com/services/...
